.container{display: flex;}
/* .container ul{overflow: inherit;} */
.itemContainer{
    width:100%;
    border-bottom:1px dashed #eee;
    z-index: 99999;
}
.itemContainer .link{
    text-align: left;
    padding: .5rem 0;
} 


@media only screen and (min-width: 80em){
    .container{background:transparent;position: relative;}
    /* .container ul ul{padding:0;} */
    .itemContainer{color:#fff;height:auto;border-right: 1px dashed #5bc6d0;width:auto;border-bottom:none;}
    /* .itemContainer span, .itemContainer a{color:#fff;text-align: center;padding:1rem 0;} */
    .itemContainer:hover, .itemContainer .itemContainer{background: #5bc6d0;border:0;}
    /* .itemContainer:hover span, .itemContainer:hover a{border:0;}     */
    .itemContainer .itemContainer{width:100%}
    /* .itemContainer .itemContainer section > ul{justify-content: left;}
    .itemContainer .itemContainer section > ul > li{width:25%;}
    .itemContainer .itemContainer section > ul > li ul li{width:100%;}
    .itemContainer .itemContainer li{list-style-type: none;}
    .itemContainer .itemContainer li a{padding: .5rem 0 .5rem 0;} */
    .firstLevelLink{
        margin: 10px 0;
        padding: 0;        
    }
    .secondLevelLink{
        display: none;
    }
}